<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiConexion" connectionString="Server=(localdb)\\mssqllocaldb;Database=;Trusted_Connection=True;MultipleActiveResultSets=True"/>
		<add name="AzureConexion" connectionString=""/>
	</connectionStrings>
	<appSettings>
		<add key="timer" value="100000"/>
	</appSettings>
</configuration>